
/*ANCHOR HOVER UNDERLINE (use with mixin)*/

@mixin setPosition($type,$top,$left: 0) {
  position: $type;
  top: $top;
  left: $left;
}

@mixin setMaxWidthandCenter($max_width) {
  max-width: $max_width;
  margin: 0 auto;
}

@mixin setGreenHover(){
  border-bottom: solid 1rem $tertiary_color;
  width: 100%;
}


/*
position:relative;
z-index: 1;

color:$primary-color;
text-decoration:none;


&:hover {

	&:after {

	content:"";
	display: block;
	height:.7em;
	background-color:$tertiary-color;
	position:absolute;
	bottom:-.2em;
	left:0;
	width:100%;
	z-index: -1;


	}

}*/